html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  color: #2a2a2a;
}

h1 {
  background: linear-gradient(180deg, rgba(35,33,66,1) 0%, rgba(9,121,89,1) 26%, rgba(51,37,89,1) 75%);
  color: #f2f2f2;
  text-transform: uppercase;
  padding: 40px 0;
  text-align: center;
}

h2 {
  text-align: center;
  padding: 20px 0;
  border-bottom: 2px solid #eee;
  margin: 0 20px;
  text-transform: uppercase;
}

ul {
  display: flex;
  list-style: none;
  padding: 20px 40px;
  overflow-x: auto;
}

li {
  text-transform: uppercase;
}

li:not(:last-child) {
  padding-right: 16px;
  margin-right: 12px;
  border-right: 2px solid #0f0f0f;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding-bottom: 80px;

  p {
    text-transform: uppercase;
    font-weight: bold;
  }
}
